* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(https://assets-global.website-files.com/601b11355524e6d8f07a33a6/64ac2933391276df2cfb88e5_stars.webp);
    background-image: url(https://scale.com/_next/image?url=%2Fstatic%2Fimages%2Fpages%2Fhomepage%2Fbg.png&w=992&q=100);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #0400ff 0%, #8c00ff 50.52%, #d25ce2 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1)
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #0400ff 0%, #8c00ff 50.52%, #d25ce2 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap:wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-top: 10px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1)
}

footer {
    display: flex;
    padding: 6px;
    background-color: #2A2634;
    padding-top: 6px;
    
}

footer h2{
    font-size: 1rem;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%; 
    width: 70px;
    border: 1px solid #443E54;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@media screen and (max_width: 768px){
    section ul{
        color: black;
    }
}